body {
    font-family: 'Lato', sans-serif;
    padding: 20px;
    margin: 0px;

    --primary-color: #4B0082;
    --accent-color: #DEBAD6;
    --light-text-color: rgb(107, 107, 107);
}

/* Describes the styling of the one and only element with id="mainheader", note the # in front of mainheader */
#mainheader {
    background-color: var(--primary-color);
    font-size: 3rem;
    color: white;
	text-align: center;
	
}

#logo-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo-header img {
    margin-left: 30px;
}

main {
    padding: 30px;
}

nav
{
	top: 0;
	position: sticky;
	z-index: 20;
	min-height: 30 px;
    height: 2rem;
    line-height: 2rem;
	color: transparent;
	text-align: center;
    background-color: var(--accent-color);
}

nav a
{
	color: forestgreen;
	background-color: transparent;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: bold;
}

nav a:hover {
	background-color: #FFE5B4;
	color: green;
}



/* Describes the styling of all elements with class="parkname", note the . in front of parkname */
.parkname {
    background-color: var(--primary-color);
    color: #FFE5B4;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* Describes the styling of all <article> elements */
article {
    border: 2px solid var(--primary-color);
    color: var(--light-text-color);
    margin: 10px;
}

.order {
    padding-top: 25px;
}

.badge {
    background-color: red;
    display: none;
    color: white;
    font-weight: bold;
    width: 25px;
    border-radius: 25px;
}

.orderbutton {
	background-color: #FFE5B4;
	font-weight: bold;
	text-color: #4B0082;	
}